felix.fileinstall.active.level="90"
felix.fileinstall.dir="d:\\Desktop\\GITHUB~1\\openHAB2.2\\OPENHA~1.0/addons"
felix.fileinstall.filename="file:/D:/Desktop/GitHubRepositories/openHAB2.2/openhab-2.2.0/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="D:\\Desktop\\GitHubRepositories\\openHAB2.2\\openhab-2.2.0\\userdata/tmp/bundles"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.20a21e10-2671-4db0-831e-0505945225d0"
