felix.fileinstall.filename="file:/D:/Desktop/GitHubRepositories/openHAB2.2/openhab-2.2.0/userdata/etc/org.apache.felix.eventadmin.impl.EventAdmin.cfg"
org.apache.felix.eventadmin.AsyncToSyncThreadRatio="1"
org.apache.felix.eventadmin.ThreadPoolSize="3"
org.apache.felix.eventadmin.Timeout="0"
service.pid="org.apache.felix.eventadmin.impl.EventAdmin"
