felix.fileinstall.filename="file:/D:/Desktop/GitHubRepositories/openHAB2.2/openhab-2.2.0/userdata/etc/org.ops4j.pax.url.mvn.cfg"
org.ops4j.pax.url.mvn.defaultRepositories="file:D:\\Desktop\\GitHubRepositories\\openHAB2.2\\openhab-2.2.0\\runtime/system@id\=system.repository@snapshots,\ file:D:\\Desktop\\GitHubRepositories\\openHAB2.2\\openhab-2.2.0\\userdata/kar@id\=kar.repository@multi@snapshots,\ file:D:\\Desktop\\GitHubRepositories\\openHAB2.2\\openhab-2.2.0\\userdata/system@id\=child.system.repository@snapshots"
org.ops4j.pax.url.mvn.localRepository="d:\\Desktop\\GITHUB~1\\openHAB2.2\\OPENHA~1.0\\userdata/tmp/mvn"
org.ops4j.pax.url.mvn.repositories="https://dl.bintray.com/openhab/mvn/online-repo/2.2@id\=openhab"
org.ops4j.pax.url.mvn.useFallbackRepositories="false"
service.pid="org.ops4j.pax.url.mvn"
