completionMode="GLOBAL"
felix.fileinstall.filename="file:/D:/Desktop/GitHubRepositories/openHAB2.2/openhab-2.2.0/userdata/etc/org.apache.karaf.shell.cfg"
hostKey="D:\\Desktop\\GitHubRepositories\\openHAB2.2\\openhab-2.2.0\\userdata\\etc/host.key"
hostKeyFormat="simple"
service.pid="org.apache.karaf.shell"
sshHost="127.0.0.1"
sshIdleTimeout="1800000"
sshPort="8101"
sshRealm="karaf"
